.domain-section {
    background: linear-gradient(83deg, #E9F8FF 0%, #F7EEFE 94.5%);
    padding: 140px 0;

    &__conteiner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 850px;
        margin: 0 auto;
    }

    &__form {
        display: flex;
    }

    &__input {
        width: 630px;
        border: none;
        border-radius: 32px 0 0 32px;
        padding: 18px 32px
    }

    &__button {
        display: flex;
        align-items: center;
        padding: 20px 28px;
        background-color: var(--color-button);
        color: var(--color-white);
        border: none;
        border-radius: 0 32px 32px 0;
        cursor: pointer;
    }
}